! Color numbers: black red green yellow blue magenta cyan white
!                0,8   1,9 2,10  3,11   4,12 5,13    6,14 7,15
!! Jellybeans
!urxvt*color0:      #1A1A1A
!urxvt*color8:      #404040
!urxvt*color1:      #D75F5F
!urxvt*color9:      #EA8484
!urxvt*color2:      #87AF5F
!urxvt*color10:     #C7F09F
!urxvt*color3:      #FFAF5F
!urxvt*color11:     #FFCC9A
!urxvt*color4:      #87AFD7
!urxvt*color12:     #A5CAEF
!urxvt*color5:      #8787AF
!urxvt*color13:     #A6A6DE
!urxvt*color6:      #5F8787
!urxvt*color14:     #69B2B2
!urxvt*color7:      #808080
!urxvt*color15:     #D7D7D7

! www.reddit.com/r/unixporn/comments/179x53/archdwm/
urxvt*color0:    #1B1D1E
urxvt*color8:    #505354
urxvt*color1:    #F92672
urxvt*color9:    #FF5995
urxvt*color2:    #82B414
urxvt*color10:   #B6E354
urxvt*color3:    #FD971F
urxvt*color11:   #FEED6C
urxvt*color4:    #56C2D6
urxvt*color12:   #8CEDFF
urxvt*color5:    #8C54FE
urxvt*color13:   #9E6FFE
urxvt*color6:    #465457
urxvt*color14:   #899CA1
urxvt*color7:    #CCCCC6
urxvt*color15:   #F8F8F2

urxvt*background:  #080808
urxvt*foreground:  #808080

urxvt*boldMode:    false
urxvt*colorBDMode: true
urxvt*colorBD:     #909090
urxvt*font:        -*-termsynu-medium-*-*-*-11-*-*-*-*-*-iso10646-*
urxvt*boldFont:
urxvt*loginShell:  true
urxvt*savelines:   2000

urxvt*blurRadius: 15
urxvt*cursorBlink: true
urxvt*cursorUnderline: true
urxvt*fading: 30
urxvt*scrollBar_right: true
urxvt*scrollColor: rgb:33/33/33
urxvt*shading: 20
urxvt*termName: rxvt
urxvt*transparent: true

